header {

   background: #fff;

   position: fixed;

   top: 0;

   left: 0;

   width: 100%;

   z-index: 999px;

   box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);

}



Or more simply this could work:


header  {

   background: #fff;

   position: fixed;

}


